#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.mainDiv {
  background: #343434;
  width: 300px;
  height: fit-content;
  border-radius: 5px;
  /* padding: .7em */
}