.background {
    padding: .7em;
    width: 85%;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
}

span {
    background: #28282B;
    width: 100%;
    text-align: right;
    padding: .4em;
}
