.board {
    background: #353935;
    display: grid;
    grid-template-columns: repeat(4, 65px);
    gap: 4px;
    justify-content: center;
    grid-template-areas: 
    '. . . .'
    '. . . .'
    '. . . .'
    '. . . .'
    '. . equal equal';
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    /* font-size: 1.5rem; */
}
.board div {
    background: #28282B;
    padding: 1.2em;
    cursor: pointer;
    border-radius: 3px;
}
.board div:nth-child(19) {
    grid-area: equal;
}